html, body {
	background: url("img/texture.jpg");
}

main {
	position: absolute;
	top: 50%;
	left: 50%;

	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

main > p {
	width: 100%;
	margin: 0;
	font-size: 0.8em;
	text-align: right;
}

#game {
	background: white;
}